* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  padding: 10px;
  width: 100%;
  position: fixed;
  background-color: black;
}

.logo {
  height: 50px;
  width: auto;
}

ul {
  list-style: none;
}

li {
  text-decoration: underline;
  display: inline-block;
  padding-left: 1rem;
}

/* SHOWCASE */
.showcase {
  height: 75vh;
  width: 94%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.showcase-div {
  background-color: black;
  width: 100%;
  padding: 10px;
}

.showcase .showcase-div h2 {
  padding-bottom: 15px;
}

/* TEA OF THE MONTH */
.tea-container {
  width: 83%;
  height: auto;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

.tea-img {
  width: 300px;
  height: 200px;
}

.tea-container h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.tea-container .img-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 10px 10px;
  justify-content: space-evenly;
}

.tea-container .img-box figure {
  padding-top: 1rem;
}

.tea-container .img-box figure img {
  margin: 10px;
}

/* LOCATIONS */
.loc-container {
  height: 50vh;
  width: 94%;
  margin: 4rem auto 0;
  display: flex;
  flex-flow: column;
  text-align: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.loc-container h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.loc-container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 84%;
  height: auto;
  margin: 0 auto;
}

.loc-container .cards .card {
  margin: 1rem;
  text-align: center;
  background-color: black;
  width: 30%;
  height: auto;
  padding: 1rem;
  line-height: 3.5rem;
  opacity: 1;
}

/* FOOTER */
.footer .the-tea-cozy {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.footer .contact {
  margin-bottom: 2rem;
}

.footer .phone-number {
  margin-bottom: 3.5rem;
}

.footer .copyright {
  text-align: left;
  padding: 0 0 1rem 0.8rem;
}

@media only screen and (min-width: 1300px) {
  body {
    font-size: 1.5rem;
  }

  .tea-img {
    height: 300px;
    width: 450px;
  }

  .showcase {
    background-position: center;
  }

  .loc-container {
    height: 60vh;
  }

  .loc-container .cards .card {
    width: 25%;
  }
}
